body {
    font-family: 'Concert One', cursive;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.time{
    color: #ffffff;
    font-size: 5em;
}

.imprint {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.imprint a{
    color: #ffffff;
}

.imprint a:hover, .imprint a:visited, .imprint a:active{
    color: #ffffff;
    text-decoration: none;
}